<div class="row">
    <div class="small-9 columns">
        <div class="chatArea" scroll-glue>
            <ul>
                <li ng-repeat="message in messageLog track by $index">{{message}}</li>
            </ul>
            <div id="chatBottom"></div>
        </div>
    </div>
    <div class="small-3 columns">
        <div class="chatUserList">
            <ul>
                <li ng-repeat="user in chatUsers">{{user}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-9 columns"><input type="text" id="message" ng-enter="sendMessage()" ng-model="message"/></div>
    <div class="small-3 columns"><button ng-click="sendMessage()" class="small round extend">Send</button></div>
</div>