<div class="row">
    <div class="col-sm-9">
        <div class="chatArea" scroll-glue>
            <ul>
                <li ng-repeat="message in messageLog track by $index">{{message}}</li>
            </ul>
            <div id="chatBottom"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="chatUserList">
            <ul>
                <li ng-repeat="user in chatUsers">{{user}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <input type="text" id="message" ng-enter="sendMessage()" ng-model="message"/>
    </div>
    <div class="col-sm-3">
        <button ng-click="sendMessage()">Send</button>
    </div>
</div>