extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    button(ui-sref="home") Home
    button(ui-sref="clustering") Clustering
    button(ui-sref="socketio") socket.io

  div(ui-view)