<div class="row collapse">
    <div class="small-4 columns">
        <div class="row">
            <div class="small-12 columns">
                <button ng-click="toggleWeatherUpdates()" class="expand">Toggle Weather Updates </button>
            </div>
        </div>
        <div class="row" id="lastMessage">
            <div class="small-12 columns text-center">
                {{ lastMessage }}
            </div>
        </div>
    </div>
    <div class="small-8 columns">
        <div class="row">
            <div class="small-6 columns">Location : {{ weather.name }}</div>
            <div class="small-6 columns">Coords : {{ weather.coord.lat }}&deg; {{ weather.coord.lat > 0 ? "W" : "E"}}, {{ weather.coord.lon }}&deg; {{ weather.coord.lon > 0 ? "S" : "N"}}</div>
        </div>
        <div class="row">
            <div class="small-6 columns">Temp : {{ weather.main.temp - 272.362 }}&deg; C</div>
            <div class="small-6 columns">Humidity : {{ weather.main.humidity }}%</div>
        </div>
        <div class="row">
            <div class="small-6 columns">Pressure : {{ weather.main.pressure }}</div>
            <div class="small-6 columns">Wind : {{ weather.wind.speed }} {{ weather.wind.deg }}</div>
        </div>
        <div class="row">
            <div class="small-6 columns" ng-cloak>Sunrise : {{ weather.sys.sunrise * 1000 | date:'HH:mm:ss' }}</div>
        </div>
        <div class="row">
            <div class="small-6 columns" ng-cloak>Sunset : {{ weather.sys.sunset * 1000 | date:'HH:mm:ss' }}</div>
        </div>
        <div class="row">
            <div class="small-6 columns">Last Update : {{ weather.timestamp | date:'HH:mm:ss'}}</div>
            <div class="small-6 columns">Next Update : {{ updateCountdown }}</div>
        </div>
    </div>
</div>
