<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        Zip Code
                    </span>
                    <input type="text" class="form-control" placeholder="Enter zipcode" ng-model="zip">
                </div>
                <button ng-click="toggleWeatherUpdates()" class="btn btn-default form-control">Toggle Updates</button>

            </div>
        </div>
        <div class="row" id="lastMessage">
            <div class="col-sm-12">
                {{ lastMessage }}
            </div>
        </div>
    </div>
    <div class="col-sm-8 jumbotron text-center" ng-hide="updatesEnabled">
        <p>Weather Updates</p>
    </div>
    <div class="col-sm-8 jumbotron" ng-show="updatesEnabled">
        <div class="row">
            <div class="col-sm-6">Location : {{ weather.name }}</div>
            <div class="col-sm-6">Coords : {{ weather.coord.lat }}&deg; {{ weather.coord.lat > 0 ? "W" : "E"}}, {{ weather.coord.lon }}&deg; {{ weather.coord.lon > 0 ? "S" : "N"}}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">Temp : {{ (weather.main.temp - 272).toFixed(1) }}&deg;C</div>
            <div class="col-sm-6">Humidity : {{ weather.main.humidity }}%</div>
        </div>
        <div class="row">
            <div class="col-sm-6">Pressure : {{ weather.main.pressure }}</div>
            <div class="col-sm-6">Wind : {{ weather.wind.speed }} {{ weather.wind.deg }}</div>
        </div>
        <div class="row">
            <div class="col-sm-6" ng-cloak>Sunrise : {{ weather.sys.sunrise * 1000 | date:'HH:mm:ss' }}</div>
        </div>
        <div class="row">
            <div class="col-sm-6" ng-cloak>Sunset : {{ weather.sys.sunset * 1000 | date:'HH:mm:ss' }}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">Last Update : {{ weather.timestamp | date:'HH:mm:ss'}}</div>
            <div class="col-sm-6">Next Update : {{ updateCountdown }}</div>
        </div>
    </div>
</div>
