/* line 3, ../../scss/app.scss */
.chatArea {
  min-height: 200px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: inset 3px 3px 2px black;
}
/* line 10, ../../scss/app.scss */
.chatArea ul {
  list-style: none;
}
