/* line 3, ../scss/app.scss */
.chatArea {
  min-height: 50rem;
  max-height: 50rem;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: inset 1rem 1rem 1rem black;
}
/* line 10, ../scss/app.scss */
.chatArea ul {
  list-style: none;
}

/* line 16, ../scss/app.scss */
.light-controls .input-group-addon {
  min-width: 8rem;
}
